.projects {
  background-color: #eaf1f1;
  color: #285172;
}

.projects-wrapper {
  width: 70%;
  margin: auto;
}

.header {
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
  font-weight: 700;
  padding-top: 50px;
}

.line {
  width: 400px;
  margin: 5px auto;
  height: 4px;
  background-color: #285172;
  border: none;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "card1 card2 card3"
    "card4 card5 card6"; */
  justify-items: center;
}

.project-card {
  width: 300px;
  height: 350px;
  border-radius: 3px;
  /* background-color: #fff; */

  margin: 30px;
  text-align: center;
  line-height: 150%;
  border-radius: 3px;
  overflow: hidden;
}
.card-front,
.card-back {
  width: 300px;
  height: 350px;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.5s linear;
  box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.5);
}
.card-back {
  background-image: linear-gradient(to right bottom, #2196f3, #285172);
  transform: perspective(600px) rotateY(180deg);
  color: white;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-front {
  transform: perspective(600px) rotateY(0deg);
}

.project-card:hover > .card-front {
  transform: perspective(600px) rotateY(-180deg);
}
.project-card:hover > .card-back {
  transform: perspective(600px) rotateY(0deg);
}
.card-technologies li {
  list-style-type: none;
  margin: 10px 0px;
  font-weight: 500;
}

.card-title {
  background-image: linear-gradient(to right bottom, #2196f3, #285172);
  padding: 20px 0;
  height: 100px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-technologies {
  background-color: #ffffff;
  padding: 15px 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.card-title-text {
  /* background-image: linear-gradient(
    to right bottom,
    rgba(236, 160, 38, 0.9),
    rgba(211, 102, 102, 0.9)
  ); */
  color: #ffffff;
  line-height: 150%;
}

.card-description {
  padding: 15px;
}
.card-button-big {
  border-radius: 35px;
  padding: 20px 30px;
  border: none;
  color: grey;
  font-weight: 500;
}

.card-button {
  border-radius: 35px;
  padding: 20px 30px;
  border: none;
  color: grey;
  font-weight: 500;
}

.card-technologies-line {
  width: 75%;
  height: 1px;
  background-color: #285172;
  border: none;
  margin: auto;
  opacity: 0.2;
}

/* Media query for Mobile */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  .line {
    width: 250px;
  }
  .header {
    margin-top: 10px;
    padding-top: 10px;
  }

  .PROJECTSS {
    font-size: 32px;
  }

  .project-cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .project-card {
    width: 300px;
    border-radius: 3px;
    /* background-color: #fff; */
    height: auto;
    margin: 30px;
    text-align: center;
    line-height: 150%;
    border-radius: 3px;
    overflow: visible;
    box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.5);
  }
  .card-front,
  .card-back {
    overflow: visible;
    transform: none;
    transition: none;
    position: relative;
    width: 300px;
    height: auto;
    box-shadow: none;
  }

  .card-back {
    background-color: #2196f3;
    background-image: none;
  }
  .project-card:hover > .card-front {
    transform: none;
  }
  .project-card:hover > .card-back {
    transform: none;
  }

  .card-title {
    height: 60px;
  }

  .card-description {
    padding-bottom: 0;
  }
  .card-button {
    border-radius: 35px;
    padding: 20px 30px;
    border: none;
    color: grey;
    font-weight: 500;
  }
}

/* Media query for Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}
