.header {
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
  font-weight: 700;
  color: #285172;
}
.line {
  width: 400px;
  margin: 5px auto;
  height: 4px;
  background-color: #285172;
  border: none;
}

.contact-icons {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-icons-small {
  padding-top: 200px;
}

.fab,
.bas {
  color: #285172;
}

.my-icon {
  /* filter: drop-shadow(1px 1px 2px #222); */
  border-radius: 2px;
}

.my-icon:hover,
.my-resume:hover {
  transform: scale(1.1) translateY(0.2rem);
  -webkit-filter: drop-shadow(1.5px 1.5px 2px #222);
  filter: drop-shadow(1.5px 1.5px 4px #222);
  z-index: 20;
  transition: all 0.3s;
}

.spann {
  color: #285172;
  font-size: 96px;
  margin: 20px;
}

.resume {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 200px;
  padding-top: 10px;
}

.get-resume {
  border: none;
  height: 75px;
  width: 150px;
  border-radius: 5px;
  background-color: #285172;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

/* Media query for Mobile */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  .line {
    width: 250px;
  }
  .header {
    margin-top: 10px;
    padding-top: 10px;
  }
  .CONTACT {
    font-size: 32px;
  }
  .contact-icons-small {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact-icons {
    width: 100vw;
  }
}

/* Media query for Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}
