.intro-portfolio-image {
  height: 300px;
  border-radius: 50%;
  margin: 100px 0 80px 0;
  border: 0.4em solid rgba(255, 255, 255, 0.75);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro {
  text-align: center;
  background-color: #2196f3;
  color: white;
  padding: 50px;
}

.intro-line {
  width: 400px;
  margin: 5px auto;
  height: 4px;
  background-color: white;
  border: none;
}

.intro-big-name {
  margin: 20px;
  font-size: 50px;
  text-transform: uppercase;
}

.intro-text {
  margin: 20px;
  font-size: 24px;
}

.intro-container {
  margin-top: 40px;
}

/* Media query for Mobile */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  .intro-portfolio-image {
    height: 250px;
    margin: 50px 0 80px 0;
  }
  .intro-container {
    margin-top: 0;
  }
  .intro-line {
    width: 250px;
  }

  .intro-big-name {
    font-size: 32px;
    margin: 5px;
  }

  .intro-text {
    font-size: 16px;
  }
}

/* Media query for Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}
